@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.2xl');
    box-shadow: theme('boxShadow.lg');
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: theme('borderRadius.full');
    background-image: linear-gradient(135deg, #FC6BA5, #D43260, #6921b5);
    cursor: pointer;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    /* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
  }

}

/* HOMEPAGE DEPLOYMENT SECTION: HOVER ICON CHANGE */
#img-spin-container {
  --n:8;   /* number of item */
  --d:30s; /* duration */

  width: 420px;
  height: 420px;
  margin: 0px auto;
  /* border: 1px solid #000; */
  display:grid;
  grid-template-columns:30px;
  grid-template-rows:30px;
  place-content: center;
  border-radius: 50%;
  position: relative;
}
.img-spin {
  grid-area: 1/1;
  position: absolute;
  top: -10px;
  left: -10px;
  line-height: 65px;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid rgba(222, 222, 222, 0.758);
  border-radius: 100%;
  background-color: white;
  animation: spin var(--d) linear infinite; 
  transform:rotate(0) translate(210px) rotate(0);
}
@keyframes spin {
  100% {
    transform:rotate(1turn) translate(210px) rotate(-1turn);
  }
}
.img-spin:nth-child(1) {animation-delay:calc(-0*var(--d)/var(--n))}
.img-spin:nth-child(2) {animation-delay:calc(-1*var(--d)/var(--n))}
.img-spin:nth-child(3) {animation-delay:calc(-2*var(--d)/var(--n))}
.img-spin:nth-child(4) {animation-delay:calc(-3*var(--d)/var(--n))}
.img-spin:nth-child(5) {animation-delay:calc(-4*var(--d)/var(--n))}
.img-spin:nth-child(6) {animation-delay:calc(-5*var(--d)/var(--n))}
.img-spin:nth-child(7) {animation-delay:calc(-6*var(--d)/var(--n))}
.img-spin:nth-child(8) {animation-delay:calc(-7*var(--d)/var(--n))}

.folder:hover .folder-closed,
.folder .folder-open {
    display: none;
}
.folder:hover .folder-open {
    display: inline;
}

/* GSTOP VIAL ANIMATION */
.graphs {
  animation: animate-graphs 15s linear 0s infinite normal forwards;
}

@keyframes animate-graphs {
  0% {width: 50%; left: 0%;}
  27% {width: 0%; left: 50%;}
  100% {width: 0%; left: 50%;}
}

.vial-splash {
  animation: animate-vial-splash 15s linear 0s infinite normal forwards;
  z-index:-1;
}

@keyframes animate-vial-splash {
  0% { transform: translate(0px, 0px) rotate(0deg); z-index:-1;}
  25.0% { transform: translate(200px, 0px) rotate(-7deg); z-index:-1; transform-origin: 71% 0.56%;}
  27.0% { transform: translate(0px, 0px) rotate(7deg); z-index:1; transform-origin: 71% 0.56%;}
  27.5% { transform: translate(0px, 0px) rotate(-5deg); z-index:1; transform-origin: 71% 0.56%;}
  28.0% { transform: translate(0px, 0px) rotate(5deg); z-index:1; transform-origin: 71% 0.56%;}
  28.5% { transform: translate(0px, 0px) rotate(-3deg); z-index:1; transform-origin: 71% 0.56%;}
  29.0% { transform: translate(0px, 0px) rotate(3deg); z-index:1; transform-origin: 71% 0.56%;}
  29.5% { transform: translate(0px, 0px) rotate(-2deg); z-index:1; transform-origin: 71% 0.56%;}
  30.0% { transform: translate(0px, 0px) rotate(2deg); z-index:1; transform-origin: 71% 0.56%;}
  30.5% { transform: translate(0px, 0px) rotate(-1deg); z-index:1; transform-origin: 71% 0.56%;}
  31% { transform: translate(0px, 0px) rotate(0deg); z-index:1; }
  95% { transform: translate(0px, 0px) rotate(0deg); z-index:1; opacity: 0.8;}
  100% { transform: translate(0px, 0px) rotate(0deg); z-index:1; opacity: 0;}
}

.vial-clean {
  animation: animate-vial-clean 15s ease-in-out 0s infinite normal forwards;
  z-index:-1;
}

@keyframes animate-vial-clean {
  0% { transform: translate(0px, 0px) rotate(0deg); z-index:-1;}
  20.0% { transform: translate(200px, 0px) rotate(-3deg); z-index:-1;}
  27.0% { transform: translate(0px, 0px) rotate(0deg); z-index:1;}
  95% { transform: translate(0px, 0px) rotate(0deg); z-index:1; opacity:0.8;}
  100% { transform: translate(0px, 0px) rotate(0deg); z-index:1; opacity:0;}
}

.vial-zoom {
  animation: animate-zoom 15s ease-in-out 0s infinite normal forwards;
  opacity: 0;
}

@keyframes animate-zoom {
  0% {opacity: 0;}
  35% {opacity: 0;}
  36% {opacity: 0.2;}
  40% {opacity: 1.0;}
  95% {opacity: 0.8;}
  99% {opacity: 0;}
  100% {opacity: 0;}
}


/* HOMEPAGE HEADER */
.head-disappear {
  animation: animate-head-dis 12s ease-in-out 0s infinite normal forwards;
  opacity: 1;
}
@keyframes animate-head-dis {
  0% {opacity: 1;}
  30% {opacity: 1;}
  60% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 1;}
}

.h1-disappear {
  animation: animate-h1-dis 12s ease-in-out 0s infinite normal forwards;
  opacity: 1;
}
@keyframes animate-h1-dis {
  0% {opacity: 1;}
  30% {opacity: 1;}
  60% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 1;}
}

.head-appear {
  animation: animate-head-app 12s ease-in-out 0s infinite normal forwards;
  opacity: 0;
}
@keyframes animate-head-app {
  0% {opacity: 0;}
  30% {opacity: 0;}
  60% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.move-text-right {
  animation: animate-text-left 12s ease-in-out 0s infinite normal forwards;
  padding-left: 0.8%;
}
@keyframes animate-text-left {
  0% {padding-left: 0.8%;}
  30% {padding-left: 0.8%;}
  60% {padding-left: 21%;}
  90% {padding-left: 21%;}
  100% {padding-left: 0.8%;}
}

.move-text-up {
  animation: animate-text-up 12s ease-in-out 0s infinite normal forwards;
  margin-top: 0%;
}
@keyframes animate-text-up {
  0% {margin-top: 0%;}
  30% {margin-top: 0%;}
  60% {margin-top: -11%;}
  90% {margin-top: -11%;}
  100% {margin-top: 0%;}
}

.h1-left {
  animation: animate-h1-left 12s ease-in-out 0s infinite normal forwards;
  left: 0%;
}
@keyframes animate-h1-left {
  0% {
    color: rgb(0, 0, 0, 1);
    left: 0%;
  }
  40% {
    color: rgb(0, 0, 0, 1);
    left: 0%;
  }
  60% {
    color: rgba(0, 0, 0, 0);
    left: -17%;
  }
  90% {
    color: rgba(0, 0, 0, 0);
    left: -17%;
  }
  100% {
    color: rgb(0, 0, 0, 1);
    left: 0%;
  }
}

.h1-gradient {
  animation: animate-h1-gradient 12s ease-in-out 0s infinite normal forwards;
  background-clip: text;
  background-image: linear-gradient(to right, rgb(0, 231, 231), rgb(136, 0, 255));
}
@keyframes animate-h1-gradient {
  0% {
    color: rgb(0, 0, 0, 1);
  }
  40% {
    color: rgb(0, 0, 0, 1);
  }
  60% {
    color: rgba(0, 0, 0, 0);
  }
  90% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgb(0, 0, 0, 1);
  }
}

.gradient-shift {
  animation: animate-gradient 12s ease-in-out 0s infinite normal forwards;
  background-image: linear-gradient(to right, rgb(0, 231, 231), rgb(136, 0, 255)); /* 89, 0, 255 */
}
@keyframes animate-gradient {
  0% {
    width: 350px;
    background-image: linear-gradient(to right, rgb(0, 231, 231), rgb(136, 0, 255));
  }
  30% {
    width: 350px;
    background-image: linear-gradient(to right, rgb(0, 231, 231), rgb(136, 0, 255));
  }
  60% {
    width: 300px;
    background-image: linear-gradient(to right, rgb(95, 95, 95), rgb(0, 0, 0));
  }
  90% {
    width: 300px;
    background-image: linear-gradient(to right, rgb(95, 95, 95), rgb(0, 0, 0));
  }
  100% {
    width: 350px;
    background-image: linear-gradient(to right, rgb(0, 231, 231), rgb(136, 0, 255));
  }
}

.hide-text {
  animation: animate-hide-text 12s ease-in-out 0s infinite normal forwards;
  opacity: 1;
}

@keyframes animate-hide-text {
  0% {opacity: 1;}
  30% {opacity: 1;}
  60% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 1;}
}

.show-text {
  animation: animate-show-text 12s ease-in-out 0s infinite normal forwards;
  opacity: 0;
}

@keyframes animate-show-text {
  0% {opacity: 0;}
  30% {opacity: 0;}
  60% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
  
  